<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Odisea</title>
</head>
<body>
    <h1>La Odisea</h1>
    
    <p>La Odisea es un poema épico griego compuesto por 24 cantos, atribuido al poeta griego Homero.
     Se cree que fue escrito en el siglo VIII a. C., en los asentamientos griegos de Asia Menor y 
     se basa en parte en leyendas y tradiciones orales anteriores. La Odisea es, junto con la Ilíada, 
     una de las dos obras más importantes de la literatura griega y en ella se narra el regreso a su 
     patria de Ulises (Odiseo en griego), rey de Ítaca, tras la Guerra de Troya.</p>
    
     <tfoot>{{ mensaje }}</tfoot>
</body>
</html>